# Compiled Object files
*.o
*.obj

# Executables
*.bin
*.elf

# PROS
bin/
.vscode/
.cache/
compile_commands.json
temp.log
temp.errors
*.ini
.d/

# Python
__pycache__/
ml/__pycache__/
*.pyc
*.pyo
*.pyd

# Mac files
*.DS_Store

# clangd config
.clangd